.profile {
  &_form-group {
    padding-bottom: 10px;
  }
  &_button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    max-width: 200px;
    margin-top: 20px;
  }
  &_list {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &_input {
    width: 70%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    outline: none;
  }
  &__cont {
    // width: 70%;
    padding: 20px;
    background-color: #f4f4f4;
  }
  &-container {
    min-height: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: auto;
    display: flex;
    min-height: 500px;
  }
  &_tabs {
    width: 35%;
    padding: 20px;
    border-right: 1px solid #ccc;
  }
  &_tab {
    &-img{
      max-width: 200px;
      border-radius: 100px;
      height: 200px;
      &.mini{
        max-width: 100px;
        border-radius: 100px;
        height: 100px;
      }
    }
    &-button {
      display: block;
      background: none;
      border: none;
      padding: 5px 15px;
      text-align: left;
      width: 100%;
      margin-bottom: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      &:hover,
      &.active {
        background-color: #f5f5f5;
      }
    }
    &-content {
      width: 80%;
      padding: 15px;
      display: none;
      /* По умолчанию все содержимое вкладки скрыто */
      &.active {
        display: flex;

      }
      &_left{
        width: 77%;
      }
    }
    &-item {
      width: 135px;
    }
    &-title {
      padding-bottom: 15px;
    }
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  &-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 30%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .modal-content {
    max-width: 60%;
  }
}