{% extends 'base.html' %}
{% block content %}
<div class="container__block">
    <h2 class="content__block-title">Книги автора: {{ author }}</h2>
    <div class="books">
        {% for book in books %}
        {% if book.author == author %}
        <div class="col-md-3 book__category">
            <a href="{{ url_for('book_details', google_id=book.google_id) }}">
                <img src="{{ book.cover_image or url_for('static', filename='image/no_cover.jpg') }}"
                     alt="{{ book.title }}" style="max-width: 204px;">
                <p class="book__title"><strong>{{ book.title }}</strong></p>
                <p class="book__text">{{ book.author }}</p>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
