{% extends 'base.html' %}

{% block content %}
<div class="content">
    <h2 class="content__block-title">Случайные книги</h2>
    <div class="books-list">
        <div class="row books_row">
            {% for book in books %}
                <div class="col-md-3 book__category">
                    <a href="{{ url_for('book_details', google_id=book.google_id) }}" class="book-link">
                        <div class="book-rating">{{ book.rating }}</div>
                        <img src="{{ book.cover_image if book.cover_image else url_for('static', filename='image/no_cover.jpg') }}"
                             alt="Обложка книги: {{ book.title }}" style="max-width: 204px;">
                        <p class="book__title"><strong>{{ book.title[:30] }} {% if book.title|length > 30 %} ... {% endif %}</strong></p>
                        <p class="book__text">{{ book.author[:30] }} {% if book.author|length > 30 %} ... {% endif %}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
const bookLinks = document.querySelectorAll('.book-link');

bookLinks.forEach(bookLink => {
    const bookRating = bookLink.querySelector('.book-rating');

    bookLink.addEventListener('mouseenter', () => {
        bookRating.style.display = 'block';
    });

    bookLink.addEventListener('mouseleave', () => {
        bookRating.style.display = 'none';
    });
});
</script>
{% endblock %}
