{% extends 'base.html' %} {% block content %}
<div class="profile__cont">
  <div class="profile-container center">
    <!-- Вкладки -->
    <div class="profile_tabs">
      <button class="profile_tab-button active" onclick="showTab('about')">Профиль</button>
      <button class="profile_tab-button" onclick="showTab('changePassword')">Изменить пароль</button>
      <button class="profile_tab-button" onclick="showTab('booklists')">Списки книг</button>
      
    </div>

    <!-- Содержимое вкладок -->
    <div id="about" class="profile_tab-content active">
        <!-- Форма настроек пользователя -->
        <form action="{{ url_for ('update_profile') }}" method="POST" enctype="multipart/form-data" class="profile_tab-content_left">
          <h3 class="profile_tab-title">О пользователе</h3>
          <div class="profile_form-group">
            <label for="name" class="profile_tab-item">Имя:</label>
            <input type="text" id="name" name="name" value="{{ current_user.name }}" class="profile_input" />
          </div>
          <div class="profile_form-group">
            <label for="email" class="profile_tab-item">Email:</label>
            <input type="email" id="email" name="email" value="{{ current_user.email }}" class="profile_input" />
          </div>
          <div class="profile_form-group">
            <label for="username" class="profile_tab-item">Логин:</label>
            <input type="text" id="username" name="username" value="{{ current_user.username }}" class="profile_input" />
          </div>
          <div class="profile_form-group">
            <label for="about_me" class="profile_tab-item">О себе:</label>
            <textarea id="about_me" name="about_me" class="profile_input">{{ current_user.about_me }}</textarea>
          </div>
          
          <!-- Поле для загрузки аватарки -->
          <div class="profile_form-group">
            <label for="avatar" class="profile_tab-item">Выберите файл</label>
            <input type="file" id="avatar" name="avatar" class="profile_input" />
          </div>
          <button type="submit" class="profile_button">Сохранить изменения</button>
        </form>
        <div>
          <img src="{{ current_user.avatar_url }}" alt="Аватар" class="profile_tab-img" />
        </div>
      </div>

    <div id="booklists" class="profile_tab-content">
      <div class="book-lists-display">
        <h3 class="profile_tab-title">Списки книг</h3>
        {% for list in all_lists %}
        <div>
          <div class="list-display-item">
            <a href="{{ url_for('my_books', list_id=list.id) }}" class="profile_list">
              <img src="{{ first_book.cover_image if first_book and first_book.cover_image else url_for('static', filename='image/no_cover.jpg') }}" alt="Обложка книги из списка {{ list.name }}" />
              <h5>{{ list.name }} ({{ list.books.all()|length }})</h4>
            </a>

            <span class="edit-list" onclick="editList('{{ list.id }}', '{{ list.name }}')">🖋</span>
            <form method="post" action="/delete_list/{{ list.id }}" onsubmit="return openConfirmationModal(event)">
              <button type="submit">❌</button>
            </form>
          </div>
        </div>
        {% endfor %}
        
        <button onclick="createNewList(event)" class="profile_button">Создать новый список</button>
      </div>
    </div>
    <!-- Содержимое вкладки "Изменить пароль" -->
    <div id="changePassword" class="profile_tab-content">
        <!-- Форма изменения пароля -->
        <form action="{{ url_for('change_password') }}" method="POST" class="profile_tab-content_left">
            <h3 class="profile_tab-title">Изменить пароль</h3>
            <div class="profile_form-group">
                <label for="old_password" class="profile_tab-item">Старый пароль:</label>
                <input type="password" id="old_password" name="old_password" class="profile_input" required />
            </div>
            <div class="profile_form-group">
                <label for="new_password" class="profile_tab-item">Новый пароль:</label>
                <input type="password" id="new_password" name="new_password" class="profile_input" required />
            </div>
            <div class="profile_form-group">
                <label for="confirm_new_password" class="profile_tab-item">Подтвердите новый пароль:</label>
                <input type="password" id="confirm_new_password" name="confirm_new_password" class="profile_input" required />
            </div>
            <button type="submit" class="profile_button">Изменить пароль</button>
        </form>
    </div>
    <!-- Модальное окно для создания нового списка -->
    <div id="createListModal" class="modal">
      <div class="modal-content">
        <h3 class="profile_tab-title">Создать список</h3>
        <form id="createListForm" action="/update_list" method="post">
          <label for="list_name" class="profile_tab-item">Название:</label>
          <input type="text" id="list_name" name="list_name" class="profile_input" />
          <button type="submit" class="profile_button">Создать</button>
        </form>
      </div>
      <span class="close-btn">&times;</span>
    </div>
  </div>

  <!-- Модальное окно для редактирования списка -->
  <div id="editListModal" class="modal">
    <div class="modal-content">
      <h3 class="profile_tab-title">Редактировать список</h3>
      <form id="editListForm">
        <label for="editListName" class="profile_tab-item">Название списка:</label>
        <input type="text" id="editListName" name="editListName" class="profile_input" />
        <button type="submit" id="saveEditListButton" class="profile_button">Сохранить изменения</button>
      </form>
    </div>
    <span class="close-btn">&times;</span>
  </div>
  <!-- Модальное окно для удаления списка -->
  <div id="confirmDeleteModal" class="modal">
    <div class="modal-content">
      <p>Вы уверены, что хотите удалить этот список?</p>
      <button id="confirmDeleteButton" class="profile_button">Подтвердить</button>
      <button id="cancelDeleteButton" class="profile_button">Отмена</button>
    </div>
  </div>
  <!-- Модальное окно для создания списка -->
  <div id="updateListModal" class="modal">
    <div class="modal-content">
      <p>Введите название нового списка:</p>
      <input id="newListName" type="text" />
      <button id="confirmCreateButton" class="profile_button">Создать</button>
      <button id="cancelCreateButton" class="profile_button">Отмена</button>
    </div>
  </div>
</div>


<!--  для управления вкладками -->
<script src="/static/js/showTab.js"></script>
<!--  для управления списками -->
<script src="/static/js/my_lists.js"></script>

{% endblock %}
